<section class="students">
	<div class="students-header">
        <h1>Students</h1>
        <button class="add-student-btn">Add Student</button>
    </div>

    <input class="search-input" type="text" placeholder="Search students..."/>

	<table class="students-table" *ngIf="students$ | async as students; else loading">
		<thead>
			<tr>
				<th>Student Number</th>
				<th>Name</th>
				<th>Class</th>
				<th>Email</th>
				<th>Address</th>
				<th>Postal Code / City</th>
				<th>CPR Number</th>
                <th>Loans</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let student of students">
				<td>{{ student.elevnummer }}</td>
				<td>{{ student.navn }}</td>
				<td>{{ student.stamklasse }}</td>
				<td>{{ student.email }}</td>
				<td>{{ student.adresse }}</td>
				<td>{{ student.postnummerOgBy }}</td>
				<td>{{ student.cprNummer }}</td>
				<td><button class="view-btn">View</button></td>
			</tr>
		</tbody>
	</table>

	<ng-template #loading>
		<p>Loading students...</p>
	</ng-template>
</section>
